@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 7%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 182 100% 74%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 0 0% 33.3%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 33.3%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 33.3%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 182 100% 74%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 7%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 182 100% 74%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 0 0% 33.3%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 33.3%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 33.3%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 182 100% 74%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
}
